@import '~bootstrap/scss/mixins/buttons';

// Default variables
$color-black: #242222 !default;
$color-white: #fff !default;
$enable-rounded: false !default;
$btn-focus-width: 2px !default;
$enable-shadows: false !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($color-black, 0.125) !default;
$btn-box-shadow: inset 0 1px 0 rgba($color-white, 0.15), 0 1px 1px rgba($color-black, 0.075) !default;
