@mixin placeholder {
  ::placeholder { @content; }
  ::-webkit-input-placeholder { @content; }
  ::-moz-placeholder { @content; }
  :-ms-input-placeholder { @content; }
}

@mixin webkit-input($background: transparent, $color: false, $border: false) {
  &:-webkit-autofill{
    @include plain-hover-focus{
      @if $border {
        border: $border;
      }
      @if $color {
        -webkit-text-fill-color: $color;
      }
      -webkit-box-shadow: 0 0 0 1000px $background inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
