@import 'utils';
@import 'positioning';
@import 'grid';
@import 'breakpoints';

@mixin responsive-prop($prop, $breakpoints) {
  $breakpoint-keys: map-keys($grid-breakpoints);
  $first-breakpoint: first($breakpoint-keys);
  $last-breakpoint: last($breakpoint-keys);

  @each $breakpoint, $value in $breakpoints {
    @if index($breakpoint-keys, $breakpoint) {
      @if $breakpoint == $first-breakpoint {
        @include media-breakpoint-down($breakpoint) {
          #{$prop}: $value;
        }
      } @else if $breakpoint == $last-breakpoint {
        @include media-breakpoint-up($breakpoint) {
          #{$prop}: $value;
        }
      } @else {
        @include media-breakpoint-only($breakpoint) {
          #{$prop}: $value;
        }
      }
    } @else {
      @error 'responsive-prop: Invalid breakpoint #{$breakpoint}';
    }
  }
}

@mixin responsive-embed($x: 16, $y: 9, $selector: '> :first-child') {
  height: 0;
  overflow: hidden;
  padding: 0 0 unquote(( $y / $x ) * 100 + '%');
  position: relative;
  width: 100%;

  #{$selector},
  iframe,
  embed,
  object,
  video {
    @include absolute(top 0 left 0 bottom 0);
    height: 100%;
    width: 100%;
  }
}

@mixin responsive-breakpoint($breakpoint-query) {
  $breakpoint-keys: map-keys($grid-breakpoints);

  $list: str-split('' + $breakpoint-query, ' ');
  $list-length: length($list);
  $mixin: false;
  $name: false;
  $lower: false;
  $upper: false;

  @if $list-length == 1 {
    $mixin: 'only';
    $name: nth($list, 1);
  } @else if $list-length == 2 {
    $mixin: nth($list, 1);
    $name: nth($list, 2);
    if($mixin != 'down' || $mixin != 'only' || $mixin != 'up') {
      @error 'oops! something went wrong'
    }
  } @else if $list-length == 3 {
    $mixin: nth($list, 1);
    $lower: nth($list, 2);
    $upper: nth($list, 3);
    if($mixin != 'between') {
      @error 'oops! something went wrong'
    }
  }

  // TODO if $name, lower, upper not in $breakpoint-keys - error

  @if $mixin == 'down' {
    @include media-breakpoint-down($name) {
      @content;
    }
  } @else if $mixin == 'only' {
    @include media-breakpoint-only($name) {
      @content;
    }
  } @else if $mixin == 'up' {
    @include media-breakpoint-up($name) {
      @content;
    }
  } @else if $mixin == 'between' {
    @include media-breakpoint-between($lower, $upper) {
      @content;
    }
  }
}

@mixin responsive-col($breakpoints) {
  @each $breakpoint-query, $value in $breakpoints {
    @include responsive-breakpoint($breakpoint-query) {
      @include col($value);
    }
  }
}

// TODO: test it @artem
// @include responsive-col((
//  down xs: 12,
//  up sm: 4,
//  between sm md: 3,
//  up xxl: 2
// ))
