// Table variants
$table-bordered: true !default;
$table-responsible: true !default;
$table-striped: true !default;
$table-hovered: true !default;

// Table variables
$table-background: transparent !default;
$table-cell-padding: 5px !default;

// Table striped
$table-strip-color: #000 !default;
$table-strip-opacity: 0.05 !default;

// Table hovered
$table-hover-color: #000 !default;
$table-hover-opacity: 0.05 !default;

// Table bordered
$table-border-width: 1px !default;
$table-border-color: #e6e6e6 !default;


@mixin table-bordered ($border-width: $table-border-width, $border-color: $table-border-color){
  border: $border-width solid $border-color;

  th,
  td {
    border: $border-width solid $border-color;

  }

  thead {
    th,
    td {
      border-top: (2 * $table-border-width) solid $table-border-color;
      border-bottom: (2 * $table-border-width) solid $table-border-color;
    }
  }
}

@mixin table-responsible () {
  @include media-breakpoint-down(md) {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 0;
  }
}

@mixin table-striped ($color: $table-strip-color, $opacity: $table-strip-opacity) {
  tbody tr:nth-of-type(odd) {
    background-color: rgba(rgb($color), $opacity);
  }
}

@mixin table-hovered($color: $table-hover-color, $opacity: $table-hover-opacity) {
  tbody tr:hover {
    background-color: rgba(rgb($color), $opacity);
  }
}

@mixin table($bordered: $table-bordered, $responsible:$table-responsible, $striped: $table-striped, $hovered:$table-hovered) {
  width: 100%;
  max-width: 100%;
  background-color: $table-background;
  border-collapse: collapse;

  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
  }

  thead th {
    vertical-align: bottom;
    font-weight: bold;
    text-align: left;
  }

  @if $bordered == true {
    @include table-bordered();
  }
  @if $responsible == true {
    @include table-responsible();
  }
  @if $striped == true {
    @include table-striped();
  }
  @if $hovered == true {
    @include table-hovered();
  }
}
